{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<div class="row">
    <div id="personal_profile">
        <div id="personal_card" class="card" style="width: 18rem;">

            <div class="card-body">
                <h5 class="card-title">{{ user.username }}</h5>
                <p class="card-text">This will be where the bio information will go</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Followers: </li>
                <li class="list-group-item">Following: </li>
                <li class="list-group-item">Posts: </li>
            </ul>
            <div class="card-body">

            </div>
        </div>


    </div>
</div>


    </div>
</div>


<div class="row">
    <div id="post-view">
        <div class="row inbox-wrapper">
            <div class="col-lg-12">
                <table class="table email-table no-wrap table-hover v-middle mb-0 font-14">
                    <tbody id="archive_emails">
                {% for item in posts %}
                 <tr>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3 email-aside border-lg-right">
                                <div class="aside-content">
                                    <div class="aside-header">
                                    </div>
                                    <a href="#" id="post-maker">{{ user.username }}</a>
                                    <div id="dateTime" class="date">{{ item.timestamp }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="email-body-div">
                        <textarea disabled class="form-control" id="post-body">{{ item.body }}</textarea>
                    </div>


                    </div>
                </div>
            </tr>
            {% endfor %}
            </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
</div>

</div>

</div>

{% endblock %}