{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<div class="row">
    <div id="personal_profile">
        <div id="personal_card" class="card" style="width: 18rem;">

            <div class="card-body">
                <h5 class="card-title">{{ profile_info.username }}</h5>
                <p class="card-text">{{ profile_info.user_bio }}</p>

            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">Followers: {{ profile_info.follower_count }} </li>
                <li class="list-group-item">Following: {{ profile_info.following_count }} </li>
            </ul>
            <div class="card-body">

            </div>
        </div>


    </div>
</div>


    </div>
</div>


<div class="row">
    <div id="post-view">
        <div class="row inbox-wrapper">
            <div class="col-lg-12">
                <table class="table email-table no-wrap table-hover v-middle mb-0 font-14">
                    <tbody id="archive_emails">
                {% for item in posts %}
                 <tr>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3 email-aside border-lg-right">
                                <div class="aside-content">
                                    <div class="aside-header">
                                    </div>
                                    <a  id="post-maker">{{ item.user }}</a>
                                    <div id="dateTime" class="date">{{ item.timestamp }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="email-body-div">
                        <textarea disabled class="form-control" id="post-body">{{ item.body }}</textarea>
                    </div>
                        <div class="email-attachments">
                            <button id="edit_button" class="btn btn-primary">edit</button>
                        </div>
                        <div class="likes">likes: <span id ="{{ item.id }}">0</span></div>

                    </div>
                </div>
            </tr>
            <br>
            {% endfor %}
            </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
</div>

</div>

</div>

{% endblock %}
{% block script %}
<script src="{% static 'network/personal.js' %}"></script>
{% endblock %}